
.multiselect {
    /* width: 200px; */
    /* margin: 0 300px 0 300px; */

    text-align: center;
    width: 200px;
    
    display: block;
margin:0 auto;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    
  }
 
  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #a71c1c;
  }
  span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #dadada;
   

  }
  .button{
    background-color: #a71c1c;
    color: #dadada;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
  .button:hover{
    background-color: #e93131;
    cursor: pointer;

  }
  body{
    background-image: url('./Assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 500px 50px 500px;


  }
  input{
    font-family: 'Montserrat', sans-serif;
    color: #dadada;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #adadad3d;
    transition: 0.2s all;
   
  }
  input::placeholder{
    color: rgba(255, 255, 255, 0.356);
  }
  input:hover{
    background-color: #dbdbdb3d;

  }
  .flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   gap: 5px;
    
  }
  form{
    /* position: absolute;
    margin: 0 auto; */
    text-align: center;
    padding: 30px 100px 30px 100px;
    margin: auto;
    background: rgba( 0, 0, 0, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
   
  }
  .overSelect {
   
    position: absolute;
    left: 0;
    right: 0px;
    top: 0;
    bottom: 0;
  }
  .logo{
    width: 100px;
  }
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }